body {
  background-color: gray;
}

h1 {
  background-color: gold;
  text-align: center;
  font-size: 48px;
  font-family: serif;
  border-style: groove;
  border-color: #DBBE18;

    .headImag {
    background-image: url("./img/Toxtricity-PNG.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 720px;
  }
}

.displays {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  background-color: black;
  height: 750px;
}

.input {
  display: grid;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 25px;
  grid-template-columns: minmax(50px, 150px) minmax(60px, 75px);
  gap: 20px;
}

.display1 {
  background-image: radial-gradient(circle at center, #DBBE18, rgba(255, 0, 0, 0.267));
  padding: 1em;
}

.display2 {
  background-image: radial-gradient(circle at center, #0313f8a4, rgba(255, 0, 0, 0.267));
  padding: 1em;
}

.todo {
  color: white;
  font-weight: bold;
  font-size: 22px;
}

.table {
  color: rgb(241, 239, 239);
  border: 1px solid white;
  font-weight: bold;
}

th, td {
  color: rgb(241, 239, 239);
  border: 1px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}