body {
  background-color: gray;
}

h1 {
  background-color: gold;
  text-align: center;
  font-size: 48px;
  font-family: serif;
  border-style: groove;
  border-color: #DBBE18;
}

.displays {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  background-color: black;
  height: 100%;
}

.input {
  display: grid;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 25px;
  grid-template-columns: minmax(50px, 150px) minmax(60px, 75px);
  gap: 20px;
}

.display1 {
  background-image: radial-gradient(circle at center, #DBBE18, rgba(255, 0, 0, 0.267));
  padding: 1em;
}

.display2 {
  background-image: radial-gradient(circle at center, #0313f8a4, rgba(255, 0, 0, 0.267));
  padding: 1em;
}

.table {
  color: rgb(241, 239, 239);
  border: 1px solid white;
  font-weight: bold;
}

th, td {
  color: rgb(241, 239, 239);
  border: 1px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.pokemonimg {
  margin-top: 25px;
  border-radius: 28px;
  box-shadow: 10px 10px 5px 10px rgba(0, 0, 0, 0.5);
}


.allPokemon {
  margin-top: 10px;
}

.allPokeList {
  margin-top: 10px;
  color: rgb(241, 239, 239);
  font-weight: bold;
  background-color: gray;
}